#root {
  max-width: 1280px;
}

.main_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: fit-content;
}

.home {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
}

.home_desc {
  border: 1px solid white;
  display: block;
  width: 300px;
  height: 200px;
  margin-top: 300px;
  margin-right: 200px;
}

.stack {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.projects {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.contacts {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.navbar {
  position: absolute;
  width: 100vw;
  height: 50px;
  background-color: rgba(207, 203, 203, 1);
}

.navbar > ul {
  display: flex;
  flex-direction: row;
  gap: 20px;
  list-style: none;
}