@font-face {
    font-family: "Cutive Mono";
    src: url("https://fonts.googleapis.com/css?family=Cutive Mono");
}

#root {
    max-width: 1280px;
    font-family: "Cutive Mono";
}

:root {
    --primary-dark: #233142;
    --primary-blue: #455d7a;
    --primary-red: #f95959;
    --primary-red-opacity: rgba(249, 89, 89, 0.5);
    --primary-light-grey: #e3e3e3;
}

*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Cutive Mono';
    width: 100vw;
    font-size: 1em;
}

a {
    position: relative;
    text-decoration: none;
    color: #020d17;
}


a:active {
    width: 0;
    color: var(--primary-blue);
}

a:after {
    content: '';
    position: absolute;
    background-color: var(--primary-red-opacity);
    height: 0.08rem;
    width: 0;
    left: 0;
    bottom: -0.3rem;
    padding: 0;
    transition: 0.3s;
}

a:hover:after {
    width: 100%;
}

.plain-button-with-underline {
    background: transparent;
    border: none;
    margin: 0;
    display: block;
    outline: none;
    position: relative;
    transition: 0.3s;
    padding: 10px;
}

.plain-button-with-underline:before {
    content: '';
    border-bottom: 1px solid var(--primary-red-opacity);
    padding: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    width: 0;
    transition: 0.3s;
}

.plain-button-with-underline:hover:before {
    width: 100%;
    padding: 0;
}

.plain-button-with-underline:active {
    background: black;
    color: white;
    transition: none;
}


.main_container {
    display: block;
    width: 100vw;
}

/* Home */

.home {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-dark);
    color: white;
}

.background_video {
    display: flex;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    object-fit: cover;
    position: sticky;
}

.home-objects {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    gap: 40px;
}

.home_desc {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 40%;
    height: fit-content;
    margin: 120px 400px 0 0;
    font-weight: 300;
    line-height: 29px;
    font-size: 22px;
}

.desk-dev {
    margin: 0;
}

.home-buttons{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}


/* Stack */

.stack {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    text-align: center;
    padding-top: 65px;
}

.languages {
    display: flex;
}

.languages-text {
    padding-left: 25px;
}

.back_front {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    justify-content: flex-start;
    width: 100%;
    height: fit-content;
    margin: 0 0 10px 0;
}

.back_title {
    justify-self: center;
}

.front_title {
    justify-self: flex-start;
}

.back {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.8);;
    color: white;
    width: 100%;
    flex-grow: 1;
    gap: 30px;
    padding-left: 25px;
    padding-top: 30px;
}

.dev_block_back {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.back_dev_tech {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding: 10px;
}

.front {
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    width: 100%;
    height: 100%;
    gap: 20px;
    padding-left: 15px;
    padding-top: 30px;
    background-color: rgba(252, 133, 133, 0.5);
}

.dev_block_front {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.front_dev_tech {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 25px;
    padding: 10px;
}

.single_tech {
    display: block;
    border: 1px solid rgb(207, 95, 95, 0.8);
    border-radius: 0.5rem;
    padding: 0.3rem;
    text-align: center;
}

/* Projects*/

.projects {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100vw;
    gap: 20px;
    padding-top: 2rem;
    text-align: center;
}

.menu-container {
    display: flex;
}

.js-ts-switcher {
    display: flex;
    width: 20%;
    height: 50px;
    padding-right: 40px;
}

.tech_menu {
    display: flex;
    width: 80%;
    height: 50px;
    padding-left: 40px;
}

.tech_menu > ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style-type: none;
}

.single_framework {
    display: flex;
    height: fit-content;
}

.allFrameworks {
    display: flex;
    height: fit-content;
}

.disabled_link {
    color: #213547;
    background-color: transparent;
    border-radius: 0;
}

body a {
    color: #020d17;
}

.projects_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    min-height: 30rem;
    gap: 18px;
    padding:0 0 5px 20px;
}

.single_project {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 500px;
    background-position: center;
    background-size: cover;
    position: relative;
}

.single_project > a {
    z-index: 1;
}

.project_pic_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.5;
}

.project_name {
    width: 100%;
    z-index: 1;
    padding-left: 15px;
    padding-top: 20px;
    color: #020d17;
    text-align: left;
}


.projects_buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    align-items: flex-end;
    width: 80%;
    margin: 0.6rem;
}


.view_btn {
    align-self: flex-end;
    margin-left: 260px;
    margin-top: 20px;
    height: 30px;
    color: #020d17;
    border-bottom: 1px solid rgb(207, 95, 95);
}

.pop_up {
    z-index: 1;
    position: absolute;
}

.projects_modal_trigger {
    z-index: 1;
    color: #020d17;
    border-bottom: 1px solid rgb(207, 95, 95);
}

.my_popup_content {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 600px;
    gap: 5px;
    color: #020d17;
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

[role='tooltip'].popup-content {
    width: 500px !important;
    height: 550px !important;
}

.small_pr_pic {
    width: 80%;
    height: 80%;
    position: relative;
}

.tag_menu {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
}

.tags-list {
    display: flex;
    flex-direction: row;
    gap: 10px;
    height: 100%;
}

.single_tag {
    display: flex;
}

.c-button {
    display: flex;
    width: 100px;
    height: 45px;
}

/* Contact  */

.contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
    height: fit-content;
}

.contact > p {
    text-align: center;
}

.contact_container {
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    padding-right: 40px;
}

.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    padding-top: 100px;
}

.contact_pic {
    width: 100px;
    height: 100px;
    background-color: transparent;
    border-radius: 90px;
    border: 1px solid rgb(65, 62, 62);
}

.contact_form {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
    padding-top: 100px;
    padding-right: 100px;
}

.message {
    height: 220px;
}

.name {
    height: 50px;
}

.email {
    height: 50px;
}

.submit_btn {
    height: 20px;
    width: 140px;
    background-color: transparent;
    border: none;
    border-radius: 0;
}

.btn_span {
    border-bottom: 1px solid rgb(207, 95, 95);
    width: 80px;
}

/* Navbar */

.navbar {
    position: absolute;
    width: 100vw;
    height: 3rem;
    background-color: var(--primary-light-grey);
    z-index: 2;
}

.navbar > ul {
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;
    padding-bottom: 10px;
}


.nav-fixed {
    bottom: inherit;
    left: 0;
    position: fixed;
    top: 0;
}


.waves{
    width: 100vw;
}

.final-wave {
    position: absolute;
}

.final-wave-2 {
    position: absolute;
    margin-top: 0.07rem;
}
.final-wave-3 {
    position: absolute;
    margin-top: 0.9rem;
}
.final-wave-4{
    position: absolute;
    margin-top: 0.99rem;
}
.final-wave-5{
    position: absolute;
    margin-top: 1.3rem;
}
.final-wave-6 {
    position: absolute;
    margin-top: 1.36rem;
}

.footer {
    display: block;
    height: fit-content;
}

.copyright{
    z-index: 10;
    color: white;
}


.social_links {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    justify-self: flex-end;
    gap: 14px;
    z-index: 2;
    margin: 2rem;
}

.social_icon {
    width: 50px;
    height: 50px;
}